.container
	.jumbotron
		button(ng-click='nextQuestion()', class='btn btn-primary') Next Question
		p Question - {{random}}
		p {{question}}
		a(ng-click='showAnswers()') + Show Top 3 Reddit Answers
		div(ng-hide='hideAnswerDiv', ng-repeat='comment in comments.data.children|limitTo:3')
			li
				ul{{comment.data.body}}